html, body {
    margin: 0px;
    padding:0
    background-color: #2F4F30;
    
}


.header {
    background: linear-gradient(180deg, black, rgb(9, 9, 9));
    height: 10vh;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}