:root {
    --black-gradient: linear-gradient(180deg, black, rgb(9, 9, 9));
}

html, 
body {
    margin: 0;
    padding: 0;
    background-color: #2F4F30;
    box-sizing: border-box;
}


.logo-container {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background: var(--black-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 8%;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
    height: 240px;
}