:root {
    --black-gradient: linear-gradient(180deg, black, rgb(9, 9, 9));
}

html, 
body {
    margin: 0;
    padding: 0;
    background-color: #2F4F30;
    box-sizing: border-box;
}

.header {
    display: flex;
    background: var(--black-gradient);
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo-container {
    display: flex;
    width: 90%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.logo-container .logo {
    width: 3%;
}


.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
    height: 240px;
}