:root {

    /* colors */
    --black-gradient: linear-gradient(180deg, black, rgb(9, 9, 9));
    --green-table:#2F4F30;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    background: var(--black-gradient);
}

header img {
    width: 120px;
    align-self: center;
    margin: 10px 0;

}

.game-container{

    background: var(--green-table);
    maind
}


.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
    height: 240px;
}